{{#if loggedIn}}
    <div class="container-fluid text-center" style="width: 100%;">
        <textarea name="comments-area" id="comments-area" cols="10" rows="5" class="w-100"></textarea>
        <button id="newcommentBtn" class="btn" type="submit">Create new comment</button>
    </div>
    <br>
    <br>
{{else}}
    <div class="text-center">
        <p>You must login to make comments!</p>
    </div>
    <br>
    <br>
    <br>
{{/if}}

<div class="card">
    <div class="card-header">
        <a href="/chirp/{{chirp.id}}">
        <h5 class="mt-2">{{chirp.title}}</h5>
        </a>
        <span class="">Created on {{clean_date chirp.date_created}} by {{chirp.member.username}}</span>
    </div>
    <div class="card-body">
    {{chirp.contents}}
    </div>
</div>
<br>

<h2>Comments</h2>
<hr>
    {{#if chirp.comments}}
        {{#each chirp.comments as |comment|}}
            <div class="card comment-container mx-auto">
                <div class="card-header comment">
                    {{this.member.username}} - {{clean_date this.date_created}}
                </div>
                <div class="card-body">
                    <p>{{this.contents}}</p>
                </div>
            </div>
        {{/each}}
    {{else}}
    <div class="comment-container mx-auto text-center">
        <p>This chirp has no comments, be the first one!</p>
    </div>
    {{/if}}

<script src="/js/comment.js"></script>

