{{#if chirps}}
    {{#each chirps as |chirp| }}
    <div class="card">
        <div class="card-header">
            <a href="/chirp/{{this.id}}">
            <h5 class="mt-2">{{this.title}}</h5>
            </a>
            <span>Created on {{this.date_created}} by {{this.member.username}}</span>
        </div>
        <div class="card-body">
        {{this.contents}}
        </div>
    </div>
    <br>
    {{/each}}
{{else}}
<br>
<br>
<div class="homepage container-fluid text-center mt-5" style="width: 100%;">
    <p>Create a new chirp or view 'Home' to see the feed.</p>
    <button type="button" id="chirpBtn" class="btn btn-lg">+New Chirp</button>
</div>

<script src="/js/create.js"></script>
    </div>
{{/if}}
